
<div class="blog-list card-columns" id="blog-list"></div>

<script id="blog-card" type="text/template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> {{PostId}} - {{Title}}</h5>
            <p class="card-text">{{ShortDescription}}</p> <button class="btn btn-primary">ir</button>
        </div>
    </div>
</script>


<div id="blog-item-container"></div>
    <script id="blog-item" type="text/template"> <div id="{{Link}}" class="blog-item">
    {{Content}} 
</div>
    <a href="#blog-title" class="btn btn-primary">voltar</a>
</script>